body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(56, 51, 69);
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 196, 61);
}

.header a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.header a:hover{
    background-color: rgb(15, 142, 15);
}
.footer {
    background-color: rgb(46, 45, 53);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}

th {
    padding: 0 100px 0 100px;
}

.banner {
    color: #fff;
    background-image: url("../images/space.jpg");
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    left: 0%;
    top: 0%;
}

li {
    list-style-type: none;
}










